fastapi
uvicorn
pymilvus
python-multipart
sqlalchemy
aiosqlite
openai
pydantic-settings
langchain-text-splitters
pypdf
tiktoken
sentence-transformers
greenlet
langchain-experimental
langchain-openai
rank-bm25
numpy
spacy
